{% load static %}

<!doctype html>
<html lang="ru">
<head>
    {% block head %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
{#        Может использоваться как Header #}
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <footer>
{#        Может использоваться как Footer #}
    </footer>
</body>
</html>